.vscode/c_cpp_properties.json
.vscode/settings.json
kms/build/*
build/*
qkd-net/*

kms/keySupplyInterface/build/*
kms/monolith/all-services/build/*
kms/keyStore/build/*
kms/keyStoreManager/build/*
kms/qkdModuleInterface/build/*
kms/util/build/*
kms/keyRelayInterface/build/*